  /* Apply general styles to buttons */
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    
  }

  /* Apply styles to the primary buttons */
  .btn-primary {
    background-color: #022851;
    color: #fff;
    border: none;
    cursor: pointer;


  }
 
  .btn.btn-primary.btn-create {
    height: 80px;
    width: 180px;
  }

  .btn.btn-primary.d-sm-table {

    width: 130px;
    margin-left: 25px;
    margin-bottom: 5px;
  }



  /* Apply styles to the row */

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  /* Apply styles to the first column */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .btn-create i {
    display: flex;
    font-size: 35px;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
  }


  /* Apply styles to the second column */
  .col-md-6.d-sm-flex {
    display: table;

    width: 100%;
  }

  .d-sm-table i{
    display: flex;
    font-size: 30px;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Apply styles to the buttons inside the second column */
  .col-md-6.d-sm-flex .btn {
    display: table-cell;
  }


  /* Styling for the buttons inside the table cell */
  .table .btn {
    width: 130px;
    /* Change this value to adjust the button width */
    padding: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
  }


  .btn-edit-del {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Align buttons horizontally in the center */
  }

  .btn-edit-del .btn-edit {
    color: #ffffff;
  }

  
  .btn-edit-del .btn-del {
    margin-bottom: 20%;
    color: #ffffff;
    background-color: #DE4545 ;
   
  }


  /* Table head  */
  .table th {

    background-color: #022851;
    color: #fff;
  }

  .table-container {
 
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); /* Add drop shadow */
    border-radius: 8px;
    border-bottom: 1px solid  #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;


  }

  h2{
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
  }

.even-row .text-center, .even-row .text-start{
  background: #e0e0e0;
}