<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Multi Step Form</title>
  <link rel="stylesheet" href="/static/css/form.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap-Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <script src="https://kit.fontawesome.com/87f04edde9.js" crossorigin="anonymous"></script>
</head>

<body>
  <form id="myForm" action="" method="post" autocomplete="off">

    <div class="prog-bar" style="text-align:center;">

      <span class="step" id="step-1">1 ) ส่วนหัวข้อของเอกสาร</span>
      <i class="bi bi-caret-right-fill"></i>
      <span class="step" id="step-2">2 ) รายชื่อคณะกรรมการ</span>
      <i class="bi bi-caret-right-fill"></i>
      <span class="step" id="step-3">3 ) ไฟล์แนบ</span>
      <!-- <i class="fa-solid fa-chevron-right"></i> -->
      <i class="bi bi-caret-right-fill"></i>
      <span class="step" id="step-4">4 ) preview</span>

    </div>
    <p class="pop-up-header">เอกสารคำสั่ง</p>

    <!-----------------------------------1st tab----------------------------------->
    <div class="tab" id="tab-1">
      <div class="tab-container">
        <p class="attachment">1 ) ส่วนหัวข้อของเอกสาร</p>

        <div class="form-group">
          <label>เลขที่คำสั่ง</label>
          <input type="text" placeholder="เลขที่คำสั่ง" id="ref_num">
        </div>

        <div class="form-group">
          <label>เอกสารลงวันที่</label>
          <!-- Separate select elements for day, month, and year -->
          <select name="day" id="daySelect">
            <option value="" disabled selected>วันที่</option>
          </select>
          <select name="month" id="monthSelect">
            <option value="" disabled selected>เดือน</option>
            <option value="1">มกราคม</option>
            <option value="2">กุมภาพันธ์</option>
            <option value="3">มีนาคม</option>
            <option value="4">เมษายน</option>
            <option value="5">พฤษภาคม</option>
            <option value="6">มิถุนายน</option>
            <option value="7">กรกฎาคม</option>
            <option value="8">สิงหาคม</option>
            <option value="9">กันยายน</option>
            <option value="10">ตุลาคม</option>
            <option value="11">พฤศจิกายน</option>
            <option value="12">ธันวาคม</option>
          </select>
          <select name="year" id="yearSelect">
            <option value="" disabled selected>ปี</option>
          </select>
        </div>

        <div class="form-group-subject">
          <label for="subject">เรื่อง</label>
          <textarea id="descrip"></textarea>
        </div>
      </div>

      <div class="index-btn-wrapper-first">
        <div class="index-btn next" onclick="move(1);">ส่วนถัดไป</div>
      </div>
    </div>

    <!-----------------------------------2nd tab----------------------------------->
    <div class="tab" id="tab-2">
      <div class="tab-container">
        <p class="attachment">2 ) รายชื่อคณะกรรมการ</p>
        <div class="form-group-2">
          <div class="form-head">
            <h3>รายชื่อคณะกรรมการ</h3>
            <textarea id="name_list"></textarea>
          </div>
        </div>
      </div>
      <div class="index-btn-wrapper">
        <div class="index-btn prev" onclick="move(-1);">ส่วนก่อนหน้า</div>
        <div class="index-btn next" onclick="move(1);">ส่วนถัดไป</div>
      </div>
    </div>

    <!-----------------------------------3rd tab----------------------------------->
    <div class="tab" id="tab-3">
      <div class="tab-container">
        <p class="attachment">3 ) ไฟล์แนบ</p>
        <div class="form-group-3">
          <div id="drag-and-drop" ondrop="handleDrop(event)" ondragover="allowDrop(event)">
            <h1>ลากและวางไฟล์ที่นี่</h1>
            <p>หรือ</p>
            <input type="file" id="file-input" style="display:none;" onchange="handleFileSelect(event)">
            <label for="file-input">กดเพื่อเลือกไฟล์แนบ</label>
          </div>

          <div id="uploaded-file-container">
            <h3>ชื่อไฟล์</h3>
            <div class="file-container">
              <p id="uploaded-file-name">Your file name here</p>
              <i class="bi bi-check-circle-fill" style="color: #3EBC2A;"></i>
              <span id="remove-btn" onclick="removeUploadedFile()"><i class="bi bi-trash-fill"></i> </span>

            </div>
          </div>
        </div>
      </div>

      <div class="index-btn-wrapper">
        <div class="index-btn prev" onclick="move(-1);">ส่วนก่อนหน้า</div>
        <div class="index-btn next" onclick="move(1);">ส่วนถัดไป</div>
      </div>
    </div>

    <!-----------------------------------4th tab ----------------------------------->
    <div class="tab" id="tab-4">
      <div class="tab-container">
        <p class="attachment">1 ) ส่วนหัวข้อของเอกสาร</p>

        <div class="form-group">
          <label>เลขที่คำสั่ง</label>
          <span id="preview-ref_num"></span>
        </div>

        <div class="form-group">
          <label>เอกสารลงวันที่</label>
          <span id="preview-date"></span>
        </div>

        <div class="form-group-subject">
          <label for="subject">เรื่อง</label>
          <p id="preview-descrip"></p>
        </div>

        <p class="attachment">2 ) รายชื่อคณะกรรมการ</p>
        <div class="form-group-2">
          <div class="form-head">
            <h3 style="color: #ccc;">รายชื่อคณะกรรมการ</h3>
            <p id="preview-name_list"></p>
          </div>
        </div>

        <p class="attachment">3 ) ไฟล์แนบ</p>
        <div class="form-group-3">

          <div id="uploaded-file-container" style="display: block;">
            <h3>ชื่อไฟล์</h3>
            <div class="file-container">
              <span id="preview-uploaded-file-name"></span>
              <i class="bi bi-check-circle-fill" style="color: #3EBC2A;"></i>


            </div>
          </div>
        </div>
      </div>

      <div class="index-btn-wrapper">
        <div class="index-btn prev" onclick="move(-1);">ส่วนก่อนหน้า</div>
        <button class="index-btn" type="submit" name="submit" style="background: blue;">บันทึกเอกสารคำสั่ง</button>
      </div>
    </div>
  </form>



  <!------------------------------------------tab 1------------------------------------------>
  <script>
    let currentStep = 1;

    // Function to reset the form fields and uploaded file name
    function resetForm() {
      // Reset the form fields to their default values
      document.getElementById('myForm').reset();

      // Reset uploaded file related elements
      uploadedFileName = ''; // Clear the global variable
      const uploadedFileContainer = document.getElementById('uploaded-file-container');
      const dragAndDropZone = document.getElementById('drag-and-drop');
      const uploadedFileNameElement = document.getElementById('uploaded-file-name');
      uploadedFileNameElement.textContent = '';
      uploadedFileContainer.style.display = 'none';
      dragAndDropZone.style.display = 'flex';

      // Show the first step of the form
      showStep(1);

      // Update the preview to show the default file name
      updatePreview(null);
    }

    // Function to update the progress bar and show/hide tabs
    function updateProgressBar(step) {
      // Update progress bar
      for (let i = 1; i <= 4; i++) {
        if (i <= step) {
          $("#step-" + i).css("background", "#FAD349");
        } else {
          $("#step-" + i).css("background", "#D9D9D9");
        }
      }

      // Show/hide tabs
      $(".tab").css("display", "none");
      $("#tab-" + step).css("display", "block");

      // Enable/disable previous and next buttons
      $(".prev").prop("disabled", step === 1);
      $(".next").prop("disabled", step === 4);
    }

    // Function to show the desired step of the form
    function showStep(stepNum) {
      currentStep = stepNum;
      updateProgressBar(currentStep);
    }

    // Function to move to the next or previous step
    function move(stepOffset) {
      const newStep = currentStep + stepOffset;

      if (newStep >= 1 && newStep <= 4) {
        showStep(newStep);
      }
    }

    // Event delegation to handle the close button click event
    document.addEventListener('click', function (event) {
      if (event.target && event.target.id === 'closeModal') {
        resetForm();
      }
    });

    // Initial update
    updateProgressBar(currentStep);


  </script>


  <!------------------------------------------tab 2------------------------------------------>
  <script>
    // Populate day and year options dynamically
    function populateDaysAndYears() {
      const daySelect = document.getElementById("daySelect");
      const yearSelect = document.getElementById("yearSelect");

      // Populate day options (1 to 31)
      for (let day = 1; day <= 31; day++) {
        const option = document.createElement("option");
        option.value = day;
        option.textContent = day;
        daySelect.appendChild(option);
      }

      // Populate year options (from the current year to 1900)
      const currentYear = new Date().getFullYear();
      for (let year = currentYear; year >= 1900; year--) {
        const option = document.createElement("option");
        option.value = year;
        option.textContent = year;
        yearSelect.appendChild(option);
      }
    }

    // Call the function to populate days and years when the page loads
    populateDaysAndYears();
  </script>

  <!--------------------------------------------tab 3-------------------------------------------->
  <script>
    let uploadedFileName = '';

    function allowDrop(event) {
      event.preventDefault();
    }

    function handleDrop(event) {
      event.preventDefault();
      const file = event.dataTransfer.files[0];
      handleFile(file);
      updatePreview(file); // Pass the file object to updatePreview
    }

    function handleFileSelect(event) {
      const file = event.target.files[0];
      handleFile(file);
      updatePreview(file); // Pass the file object to updatePreview
    }

    function handleFile(file) {
      const uploadedFileContainer = document.getElementById('uploaded-file-container');
      const dragAndDropZone = document.getElementById('drag-and-drop');

      uploadedFileName = file.name; // Store the uploaded file name in the global variable
      document.getElementById('uploaded-file-name').textContent = uploadedFileName;
      uploadedFileContainer.style.display = 'block';
      dragAndDropZone.style.display = 'none';
      // console.log(file.name)
    }

    function removeUploadedFile() {
      const uploadedFileContainer = document.getElementById('uploaded-file-container');
      const dragAndDropZone = document.getElementById('drag-and-drop');
      const uploadedFileNameElement = document.getElementById('uploaded-file-name');

      // Clear the global variable for the uploaded file name
      uploadedFileName = '';

      // Reset the file input element
      const fileInput = document.getElementById('file-input');
      fileInput.value = '';
      const newFileInput = fileInput.cloneNode(true);
      fileInput.parentNode.replaceChild(newFileInput, fileInput);

      // Hide the uploaded file container and show the drag and drop zone
      uploadedFileNameElement.textContent = '';
      uploadedFileContainer.style.display = 'none';
      dragAndDropZone.style.display = 'flex';

      // Update the preview to show the default file name
      updatePreview(null);
    }

    // Function to update the preview content
    function updatePreview(file) {
      const refNum = document.getElementById('ref_num').value;
      const date = `${document.getElementById('daySelect').value}/${document.getElementById('monthSelect').value}/${document.getElementById('yearSelect').value}`;
      const descrip = document.getElementById('descrip').value;
      const nameList = document.getElementById('name_list').value;

      // Use the file parameter to display the uploaded file name in the preview
      document.getElementById('preview-uploaded-file-name').textContent = file ? file.name : "Your file name here";
      document.getElementById('preview-ref_num').textContent = refNum;
      document.getElementById('preview-date').textContent = date;
      document.getElementById('preview-descrip').textContent = descrip;
      document.getElementById('preview-name_list').textContent = nameList;
    }

    // Listen for changes in the form inputs and update the preview
    document.getElementById("ref_num").addEventListener("input", updatePreview);
    document.getElementById("daySelect").addEventListener("change", updatePreview);
    document.getElementById("monthSelect").addEventListener("change", updatePreview);
    document.getElementById("yearSelect").addEventListener("change", updatePreview);
    document.getElementById("descrip").addEventListener("input", updatePreview);
    document.getElementById("name_list").addEventListener("input", updatePreview);
  </script>

</body>

</html>