{% extends "project/base.html" %}
{% block content %}
<!-- Pikaday CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.min.css">

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Pikaday JS -->
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/plugins/pikaday.jquery.min.js"></script>

<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/form.css">
<div class="container">
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-6">
      <button class="btn-act btn-primary btn-create" onClick="open_form()" data-toggle="modal" data-target=".modal">
        <i class="bi bi-plus-circle-fill"></i>
        สร้างคำสั่ง
      </button>
      <!-- Modal zone -->
      <div class="modal fade" id="modal-form" data-keyboard="false">
        <div class="modal-dialog modal-full">
          <div class="modal-content">


            <!-- Modal body -->
            <div class="modal-body">
              <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
              <!-- Add your content here -->
              <form id="myForm" action="/form" method="post" autocomplete="off" enctype="multipart/form-data">


                <p class="pop-up-header">เอกสารคำสั่ง</p>

                <!-----------------------------------1st part----------------------------------->
                <div class="tab" id="tab-1">
                  <div class="tab-container">
                    <p class="attachment">1 ) ส่วนหัวข้อของเอกสาร</p>

                    <div class="form-group">
                      <label>เลขที่คำสั่ง</label>
                      <input type="number" placeholder="เลขที่คำสั่ง" id="refer_num" name="ref_num">
                    </div>

                    <div class="form-group">
                      <label>เอกสารลงวันที่</label>
                      <!--this input is id of order_table-->
                      <input type="hidden" name="id" value="">
                      <!--this input is user id set default to 1-->
                      <input type="hidden" name="user_id" value="1">
                      <!-- Separate select elements for day, month, and year -->
                      <input type="text" id="thaiDatePicker" placeholder="วันที่" name="thaiDate" required>
                    </div>



                    <input type="hidden" id="date_combind" name="doc_date" required></input>
                    <div class="form-group-subject">
                      <label for="subject">เรื่อง</label>
                      <textarea id="descrip" name="subject" required></textarea>
                    </div>
                  </div>

                </div>

                <!-----------------------------------2nd part----------------------------------->
                <div class="tab" id="tab-2">
                  <div class="tab-container">
                    <p class="attachment">2 ) รายชื่อคณะกรรมการ</p>
                    <div class="form-group-2">
                      <div class="form-head">
                        <h3>รายชื่อคณะกรรมการ</h3>
                        <textarea id="name_list" name="ref_name"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <!-----------------------------------3rd part----------------------------------->
                <div class="tab" id="tab-3">
                  <div class="tab-container">
                    <p class="attachment">3 ) ไฟล์แนบ</p>
                    <div class="form-group-3">
                      <div id="drag-and-drop" ondrop="handleDrop(event)" ondragover="allowDrop(event)">
                        <h1>ลากและวางไฟล์ที่นี่</h1>
                        <p class="or">หรือ</p>
                        <input type="file" id="file-input" name="doc_data" style="display:none;"
                          onchange="handleFileSelect(event)" accept=".pdf">
                        <p class="click-to-add"><label for="file-input">กดเพื่อเลือกไฟล์แนบ</label></p>
                      </div>

                      <div id="uploaded-file-container">
                        <h3>ชื่อไฟล์</h3>
                        <div class="file-container">
                          <p id="uploaded-file-name">Your file name here</p>
                          <i class="bi bi-check-circle-fill" style="color: #3EBC2A;"></i>
                          <span id="remove-btn" onclick="removeUploadedFile()"><i class="bi bi-trash-fill"></i> </span>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="index-btn-wrapper">
                    <button class="index-btn" type="submit" name="submit"><i
                        class="fa-regular fa-floppy-disk"></i>บันทึกเอกสารคำสั่ง</button>
                  </div>
                </div>
              </form>


            </div>


          </div>
        </div>
      </div>
      <!-- End of Modal zone -->

    </div>

    <div
      class="col-md-6 d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-md-end justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
      <button class="btn-act btn-primary d-sm-table " type="button">
        <i class="bi bi-book"></i>
        เอกสารคำสั่ง
      </button>

      <a href="{{ url_for('search') }}" style="text-decoration: none;">
        <button class="btn-act btn-primary d-sm-table " type="button">
          <i class="bi bi-search"></i>
          ค้นหาเอกสาร
        </button>
      </a>
    </div>
  </div>
</div>

<div class="table-container">
  <div class="container">
    <div class="col-md-12" style="margin-top: 30px;">
      <h2 style="font-size: 24px;">รายการเอกสารคำสั่งภายในภาควิชาวิทยาการคอมพิวเตอร์</h2>
      <div class="sub-doc-header">
        <p class="sub-doc">
          มีเอกสารทั้งหมด <span id="count_doc"> </span>
          รายการ แสดงหน้าละ
          <span id="show-per-page">10</span> รายการ
        </p>

        <div class="doc-search">
          <i class="bi bi-search"></i>
          <input type="text" id="customSearch" placeholder="ค้นหารายการเอกสารคำสั่ง">
          <!-- <i class="bi bi-plus"></i> -->
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 30px;">
        <div>
          <div class="table-responsive">
            <table class="table table-striped" data-search="true" data-searchable="true"
              data-search-selector="#customSearch" id="document-table">
              <thead>
                <tr>
                  <th class="text-center" data-formatter="runningFormatter">
                    <span class="text">
                      ลำดับ
                    </span>
                  </th>
                  <th data-field="id" hidden>
                    <span class="text">
                      id
                    </span>
                  </th>
                  <th class="text-center" style="width: 100px;" data-field="ref_num">
                    <span class="text">
                      เลขคําสั่ง
                    </span>
                  </th>
                  <th class="text-center" style="width: 480px;" data-field="subject">
                    <span class="text">
                      เรื่อง
                    </span>
                  </th>
                  <th class="text-center" data-field="user_name">
                    <span class="text">
                      ผู้สร้างเอกสาร
                    </span>
                  </th>
                  <th class="text-center" data-field="doc_date">
                    <span class="text">
                      วันที่ออกคำสั่ง
                    </span>
                  </th>
                  <th class="text-center" data-field="ref_name" hidden>
                    <span class="text">
                      รายชื่อกรรมการ
                    </span>
                  </th>
                  <th class="text-center" data-field="operation" data-formatter="clip_icon_Formatter"
                    data-events="clip_icon_Events">
                    <span class="text">
                      ไฟล์แนบ
                    </span>
                  </th>
                  <!--dataFormat-->
                  <th class="text-center" data-field="data-buttons" data-formatter="edit_del_Formatter"
                    data-events="operateEvents">
                    <span class="text">
                      แก้ไข / ลบ
                    </span>
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="text-center">
            <div class="spinner-border text-primary"
              style="width: 3rem; height: 3rem;  border:solid 5px #fff;  border-bottom-color: #022851;" id="spinner"
              role="status">
              <span class="sr-only c"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <a href="#" id="prevPage"><i class="fas fa-chevron-left"></i> ก่อนหน้า</a>
  <div id="pageNumbers" class="pagination-links"></div>
  <a href="#" id="nextPage">หน้าถัดไป <i class="fas fa-chevron-right"></i></a>
</div>

<script src="/static/js/form.js"></script>

<!-- Do not move script below -->
<script>
  function populate_table(document_data) {
    $('#document-table').bootstrapTable({

      data: document_data


    });
    //console.log(document_data);
    //load pagination.js script after populateTable
    console.log("tr :", document.getElementsByTagName('tr').length);
    var js = document.createElement("script");
    js.src = "/static/js/pagination.js";
    document.head.appendChild(js);
    //document.getElementById("count_doc").innerHTML = $('#document-table tr').length -1;
    $('#document-table').bootstrapTable('hideColumn', 'id');
    $('#document-table').bootstrapTable('hideColumn', 'ref_name');
  }

  //page function use to set offset of document query
  /*function page(){
    show_page = document.getElementsByClassName("current-page")[0].innerHTML;
    console.log(show_page);
    console.log("show_page :", show_page-1);
    var formData = new FormData();
    formData.append('page', show_page-1);
    console.log(formData);
      $.ajax({
        type: 'POST',
        url: "/document",
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
          var a = data; // This line shows error.
          $.ajax({
            dataType: "json",
            data: a,
            success:  refresh_table(a)

          });
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth',
        });
        }
      });
      
  }*/

  $(document).ready(function () {
    //this call function call to get all data and display it in count-doc id
    $.ajax({
      dataType: "json",
      url: "/document",
      success: function (data) {
        console.log("data length:", data.length);
        document.getElementById("count_doc").innerHTML = data.length;
        populate_table(data);
        document.getElementById('spinner')
          .style.display = 'none';
      }
    });
  });

  //this call offset0 of document
  /*(function () {
    var formData = new FormData();
    formData.append('page', 0)
    $.ajax({
      type: 'POST',
      url: "/document",
      data: formData,
      contentType: false,
      processData: false,
      success: function (data) {
        var a = data; // This line shows error.
        $.ajax({
          dataType: "json",
          data: a,
          success: populate_table(a)
   
        });
  
    }
    });
    
  })();
});*/
  //maybe this function is not use
  function refresh() {
    $.getJSON("/document", refresh_table);

  }

  function refresh_table(document_data) {
    $('#document-table').bootstrapTable('load', document_data);
  }

  function clip_icon_Formatter(value, row, index) {
    return [
      '<div class="text-center d-xxl-flex justify-content-xxl-center">',
      '<span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">',
      '<button class="pdf_viewer bi bi-paperclip" >', '</button>',
      '</span>',
      '</div>'
    ].join('')
  }

  //edit and delete button
  function edit_del_Formatter(value, row, index) {
    return [
      '<div class="btn-edit-del" data-toggle="modal" data-target=".modal">',
      '<button type="button"  class="doc_edit btn-edit"   id="btn-edit" data-toggle="modal" data-target=".bd-modal-xl">', 'แก้ไข', '</button>',
      '<button class="doc_delete btn-del"  >', 'ลบ', '</button>',
      '</div>'

    ].join('')
  }
  //run number function
  function runningFormatter(value, row, index) {
    return index + 1;
  }

  window.clip_icon_Events = {
    'click .pdf_viewer': function (e, value, row, index) {
      open_pdf(row.id, row);
    }
  }

  window.operateEvents = {
    'click .doc_delete': function (e, value, row, index) {
      delete_button_sweet(row.id);
    },
    'click .doc_edit': function (e, value, row, index) {
      prePopulateForm(row);

    }
  }

  function prePopulateForm(row) {
    document.getElementById('myForm').reset();
    $('#doc_id').val(row.id);
    $('#refer_num').val(parseInt(row.ref_num));
    date = row.doc_date;
    console.log(date);
    //$('#thaiDatePicker').val(date);
    $('#descrip').val(row.subject);
    str_ref_name = row.ref_name.replace(",", "\n");
    $('#name_list').val(str_ref_name);
    uploadedFileName = preload_pdf(row.id);
    console.log(uploadedFileName);
    if (uploadedFileName != "") {
      var uploadedFileContainer = document.getElementById('uploaded-file-container');
      var dragAndDropZone = document.getElementById('drag-and-drop');
      uploadedFileName = preload_pdf(row.id);// Store the uploaded file name in the global variable
      document.getElementById('uploaded-file-name').textContent = uploadedFileName;
      uploadedFileContainer.style.display = 'block';
      dragAndDropZone.style.display = 'none';
    }
  }


  function delete_doc(id) {
    event.preventDefault();
    del = id
    console.log("del id =" + del);
    var url = "/delete"
    var formData = new FormData();
    formData.append('id', del)
    $.ajax({
      type: 'POST',
      url: url,
      data: formData,
      contentType: false,
      processData: false,
      success: function (response) {
        //console.log('Success', response);
        console.log("deleted!!");
        refresh();
      },
      error: function (error) {
        console.error('Error', error);
      }
    });
  }
  function open_form() {
    console.log("Form openned");
    // populateDaysAndYears();
    $.ajax({
      dataType: "json",
      url: "/document",
      success: function (data) {
        ref_data = data[0].ref_num;
        arr_ref = ref_data.split("/");
        console.log("data :", parseInt(arr_ref[0]));
        ref_num = parseInt(arr_ref[0]);
        populate_table(data);
        document.getElementById("refer_num").value = ref_num + 1;
      }
    });
  }



  $('#document-table').on('search.bs.table', function () {
    showPage(1);
  });
</script>



{% endblock %}