{% extends "project/base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/index.css">

<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-6">
            <button class="btn-act btn-primary btn-create" onClick="open_form()" data-toggle="modal" data-target=".bd-modal-xl">
                <i class="bi bi-plus-circle-fill"></i>
                สร้างคำสั่ง
            </button>
            <!-- Modal zone -->
            <div class="modal fade bd-modal-xl" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">


                        <!-- Modal body -->
                        <div class="modal-body">
                            <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
                            <!-- Add your content here -->
                            <div id="includeHtml"></div>

                        </div>


                    </div>
                </div>
            </div>
            <!-- End of Modal zone -->

        </div>

        <div
            class="col-md-6 d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-md-end justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
            <button class="btn-act btn-primary d-sm-table " type="button">
                <i class="bi bi-book"></i>
                เอกสารคำสั่ง
            </button>

            <a href="{{ url_for('search') }}" style="text-decoration: none;">
                <button class="btn-act btn-primary d-sm-table " type="button">
                    <i class="bi bi-search"></i>
                    ค้นหาเอกสาร
                </button>
            </a>
        </div>
    </div>
</div>

<div class="table-container">
    <div class="container">
        <div class="col-md-12" style="margin-top: 30px;">
            <h2 style="font-size: 24px;">รายการเอกสารคำสั่งภายในภาควิชาวิทยาการคอมพิวเตอร์</h2>
            <div>
                <p class="sub-doc">มีเอกสารทั้งหมด <span id="count_doc"></span> รายการ แสดงหน้าละ <span
                        id="show-per-page">10</span> รายการ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="document-table">
                            <thead>
                                <tr>
                                    <th class="text-center" data-formatter="runningFormatter">
                                    <span class="text">
                                        ลำดับ
                                      </span>
                                    </th>  
                                    <th data-field="id"> 
                                        <span class="text">
                                            id
                                          </span>
                                    </th>
                                    <th class="text-center" style="width: 100px;" data-field="ref_num">
                                    <span class="text">
                                        เลขคําสั่ง
                                    </span>
                                    </th>
                                    <th class="text-center" style="width: 480px;" data-field="subject">
                                    <span class="text">
                                        เรื่อง
                                    </span>
                                    </th>
                                    <th class="text-center" data-field="user_name">
                                        <span class="text">
                                            ผู้สร้างเอกสาร
                                        </span>
                                    </th>
                                    <th class="text-center" data-field="doc_date">
                                        <span class="text">
                                            วันที่ออกคำสั่ง
                                        </span>
                                    </th>
                                    <th class="text-center" data-field="operation" data-formatter="clip_icon_Formatter" data-events="clip_icon_Events">
                                        <span class="text" >
                                            ไฟล์แนบ
                                        </span>
                                    </th>
                                    <!--dataFormat-->
                                    <th class="text-center" data-field="operation" data-formatter="edit_del_Formatter" data-events="edit_del_Events">
                                        <span class="text">
                                            
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagination">
    <a href="#" id="prevPage"><i class="fas fa-chevron-left"></i> ก่อนหน้า</a>
    <div id="pageNumbers" class="pagination-links"></div>
    <a href="#" id="nextPage">หน้าถัดไป <i class="fas fa-chevron-right"></i></a>
</div>


<script src="/static/js/pagination.js"></script>
<script src="/static/js/countDocIndex.js"></script>

<!-- Do not move script below -->
<script>
    function populate_table(document_data) {
        $('#document-table').bootstrapTable({
          data: document_data
          
        });
        console.log(document_data);
        document.getElementById("count_doc").innerHTML = $('#document-table tr').length -1;
        $('#document-table').bootstrapTable('hideColumn', 'id');
      }

      $(document).ready(function () {
        (function () {
          $.getJSON("/document", populate_table);
          
        })();
      });

      function clip_icon_Formatter(value, row, index) {
        return [
        '<div class="text-center d-xxl-flex justify-content-xxl-center">',
        '<span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">',
        '<button class="pdf_viewer bi bi-paperclip" >','</button>',
    '</span>',
    '</div>'
        ].join('')
      }
 
    //edit and delete button
    function edit_del_Formatter(value, row, index) {
        return [
        '<div class="text-center">','<div class="btn-edit-del" >',
            '<button type="button"  class="doc_edit btn-edit"   id="btn-edit" data-toggle="modal" data-target=".bd-modal-xl">','แก้ไข','</button>',
                '<button class="doc_delete btn-del" id="btn-del" >','ลบ','</button>',
            '</div>',
        '</div>'
        ].join('')
      }
    //run number function
    function runningFormatter(value, row, index) {
        return index+1;
    }
    window.clip_icon_Events = {
        'click .pdf_viewer': function (e, value, row, index) {
            open_pdf(row.id);
        }
      }
    
    window.edit_del_Events = {
        'click .doc_delete': function (e, value, row, index) {
            open_pdf(row.id);
        }
      }
    
    function open_form() {
        console.log("Form openned");
        $("#includeHtml").load("/form");
    }
</script>



{% endblock %}