{% extends "project/base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/m-access.css">
<!-- <link rel="stylesheet" href="/static/css/grant.css"> -->

<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-6">
            <a href="{{ url_for('home_new') }}">
                <button class="btn-act btn-primary btn-create">
                    <i class="bi bi-book"></i>
                    ไปยังหน้าเอกสารคำสั่ง
                </button>
            </a>
        </div>


    </div>
</div>

<div>
    <p class="access-header">จัดการและดูสิทธิ์การเข้าถึง</p>
</div>

<div class="access-container">

    <div class="container">
        <div class="col-md-12" style="margin-top: 30px;">
            <div class="add-personel">
                <button class="btn-act btn-primary btn-add-person " data-toggle="modal" data-target=".bd-modal-xl">
                    <i class="bi bi-plus-circle-fill"></i>
                    เพิ่มบุคลาการ
                </button>

                <!-- Modal zone -->
                <div class="modal fade bd-modal-xl" data-keyboard="false">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">


                            <!-- Modal body -->
                            <div class="modal-body">
                                <button type="button" id="closeModal" class="close"
                                    data-dismiss="modal">&times;</button>
                                <!-- Add your content here -->
                                <div class="grant-container">
                                    <p class="grant-header"><i class="bi bi-plus-circle-fill"></i>เพิ่มบุคลาการ</p>

                                    <div class="grant-group">
                                        <label>ชื่อจริง</label>
                                        <div class="input-container">
                                            <input id="input-fname" placeholder="ชื่อจริง">
                                        </div>
                                    </div>

                                    <div class="grant-group">
                                        <label>นามสกุล</label>
                                        <div class="input-container">
                                            <input id="input-lname" placeholder="นามสกุล">
                                        </div>
                                    </div>


                                    <div class="grant-group">
                                        <label>E-mail</label>
                                        <div class="input-container">
                                            <input id="input-email" name="add-user-email" placeholder="E-mail address" >
                                            <span class="input-group-addon">@cmu.ac.th</span>
                                        </div>

                                    </div>

                                    <div class="grant-group">
                                        <label>ระดับสิทธิ์การเข้าถึง</label>

                                        <input type="radio" id="admin" name="answer-a" value="ธุรการ">
                                        <label class="radio" for="admin">ธุรการ</label>

                                        <input type="radio" id="user" name="answer-a" value="บุคลากร">
                                        <label class="radio" for="user">บุคลากร</label>

                                    </div>

                                    <div class="grant-btn-wrapper">
                                        <button class="grant-btn" type="submit" name="submit">
                                            <i class="bi bi-plus-circle-fill"></i>เพิ่มบุคลาการ</button>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!-- End of Modal zone -->

        </div>
        <h2 class="h2-eligible">ผู้มีสิทธิ์การเข้าถึง</h2>
        <div>
            <p class="sub-doc">ผู้มีสิทธิ์การเข้าถึงทั้งหมด <span id="user-count"></span> คน แสดงหน้าละ <span
                    id="show-per-page">10</span> รายการ</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="table-responsive">
                    <table class="table table-striped" id="access-table">
                        <thead>
                            <tr>
                                <th class="text-center" data-formatter="runningFormatter">
                                    <span class="text">
                                        ลำดับ
                                    </span>
                                </th>

                                <th data-field="id" hidden>
                                    <span class="text">
                                        id
                                    </span>
                                </th>

                                <th class="text-center" style="width: 400px;" data-field="name">
                                    <span class="text">
                                        ชื่อจริง - นามสกุล
                                    </span>
                                </th>

                                <th class="text-center" style="width: 200px;" data-field="email">
                                    <span class="text">
                                        E-mail
                                    </span>
                                </th>

                                <th class="text-center" data-field="role">
                                    <span class="text">
                                        ระดับสิทธิ์การเข้าถึง
                                    </span>
                                </th>

                                <th class="text-center" data-field="data-buttons" data-formatter="edit_del_Formatter"
                                    data-events="operateEvents">
                                    <span class="text">
                                        แก้ไขสิทธิ์การเข้าถึง
                                    </span>
                                </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="pagination">
    <a href="#" id="prevPage"><i class="fas fa-chevron-left"></i> ก่อนหน้า</a>
    <div id="pageNumbers" class="pagination-links"></div>
    <a href="#" id="nextPage">หน้าถัดไป <i class="fas fa-chevron-right"></i></a>
</div>

<script src="/static/js/pagination.js"></script>
<script src="/static/js/countUser.js"></script>



{% endblock %}